@model BaseTypes.UserInfo?

@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>

<p>@nameof(Model.Id): @Model?.Id</p>
<p>@nameof(Model.Name): @Model?.Name</p>
<p>@nameof(Model.Status): @Model?.Status</p>